body {
  background-color: #EBF5FB;
  font-family: "Baskerville";
  font-size: 120%;
}

h1, h2 {
    font-family: "Calibri Light";
  }

div {
  background-color: white;
  padding-bottom: 10px;
  padding-left: 1%;
}
